<!DOCTYPE html>
<html ng-app="sample-app">
<head>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <script src="javascripts/main.js"></script>
    <title></title>
</head>
<body ng-controller="MainController">
    {{sampleText}}<br/>
    {{sampleTextOthers}}

<h2>Sample 2</h2>
{{responseObj.username}} says <i>{{responseObj.message}}</i>.
<br/>
{{responseObj.username}} also added that <i>{{responseObj.details}}</i>.


<h2>Sample 3</h2>
    {{responseObj2.username}} says <i>{{responseObj2.message}}</i>.
    <br/>
    {{responseObj2.username}} also added that <i>{{responseObj2.details}}</i>.<br/>
    FYI: {{responseObj2.username}} logged in with <i title="{{responseObj2.password}}">************</i>.
</body>
</html>